@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@400;600;700&display=swap');

body{
    font-size: 18px;
    font-family: 'Petrona', serif;
    color: #354259;
    background-image: url('Img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wallpaper-wrapper{
    background-color: #CCF3EE;
    -webkit-box-shadow:1px 10px 15px #354259;
    -moz-box-shadow:1px 10px 15px #354259;
    box-shadow:1px 10px 15px #354259;
    border-radius: 1em;
    width: 1120px;
    margin: 0 auto;
}

.container{
    width: 980px;
    margin: 0 auto;
}

/* header */
.navbar{
    margin-top: 50px;
}

.navbar .container{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.navbar .container .nav-link{
    margin-left: auto;
    display: flex;
    list-style: none;
}

.navbar .container .nav-link .nav-item{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}


.navbar .container .title{
    font-size: 28px;   
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
}

.navbar .container .nav-link a{
    text-decoration: none;
    transition: all 0.5s ease;
}

.navbar .container .nav-link a:hover{
    color: #FF5D5D;
}
/* main */
.main-section{
    padding-top: 5px;
    padding-bottom: 65px;
}

.main-section .container{
    display: flex;
    align-items: center;
}

.main-section .container .text-wrapper{
    width: 50%;
    padding: 35px;
    font-weight: 700;
}

.main-section .container .width-full{
    width: 100%;
}

.main-section .container .text-wrapper .title{
    font-family: 'El Messiri', sans-serif;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 10px;
}

.main-section .container .text-wrapper .description{
    font-size: 26px;
    line-height: 40px;
}

.main-section .container .text-wrapper .other-desc{
    background-color: #CCF3EE;
    -webkit-box-shadow:1px 10px 15px #FF5D5D;
    -moz-box-shadow:1px 10px 15px #FF5D5D;
    box-shadow:1px 10px 15px #FF5D5D;
    color: #FF5D5D;
    padding: 10px;
    border-radius: 20px;
}

.main-section .container .text-wrapper .co-title{
    color: #FF5D5D;
    font-size: 24px;
    margin-bottom: 15px;
}

.main-section .container .text-wrapper .other-title{
    text-align: center;
}

.main-section .container .text-wrapper .cta{
    display: inline-block;
    padding: 15px 45px;
    background-color: #354259;
    color: white;
    text-decoration: none;
    border: 2px solid #354259;
    border-radius: 5px;
    transition: all 0.5s ease;
    text-align: center;
}

.main-section .container .text-wrapper .cta:hover{
    border: 2px solid #FF5D5D;
    background-color: transparent;
    color: #354259;
}

.main-section .container .image-wrapper{
    max-width: 35%;
    padding: 0 55px;
    text-align: right;
}

.main-section .container .image-wrapper .image-inner{
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.main-section .container .image-wrapper .image-item{
    max-width: 100%;
    display: block;
    transition: all 0.5s ease;
}

.main-section .container .image-wrapper .image-item:hover{
    transform: scale(1.1);
}

.about-section{
    background-image: url('Img/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    font-weight: 700;
}

.main-section .skill-item{
    max-width: 35%;
    padding: 0 15px;
}

.main-section .skill-item .skill-inner{
    position: relative;
    overflow: hidden;
}

.main-section .skill-item .skill-inner .skill-img{
    max-width: 100%;
    display: block;
    filter: grayscale(100%);
    transition: all 0.5s ease;
    width: 500px;
    height: 300px;
}

.main-section .skill-item .skill-inner:hover .skill-img{
    filter: grayscale(0);
    transform: scale(1.1);
}

.main-section .skill-item .skill-inner .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.main-section .skill-item .skill-inner:hover .overlay{
    background-color: transparent;
}

.main-section .skill-item .skill-inner .overlay h4{
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s ease;
}

.main-section .skill-item .skill-inner .overlay:hover h4{
    transform: translatex(30px);
    opacity: 0;
}

footer{
    margin: 50px 0 0 0;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.drop-button{
    background-color: #354259;
    color: #ffffff;
    padding: 14px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border: 2px solid #354259;
    text-align: center;
}

.drop-button:hover, .drop-button:focus{
    border: 2px solid #FF5D5D;
    background-color: transparent;
    color: #354259;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #ddd
}

.show{
    display:block;
}

@media screen and (max-width: 1000px){
    body{
        width: auto;
        font-size: 12px;
    }

    .navbar .container .title{
        font-size: 12px;   
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 15px;
    }

    .container{
      width: 280px;
    }
    
    .wallpaper-wrapper{
        width: 300px;
    }

    .main-section .container .image-wrapper .image-item{
        max-width: 100%;
        display: block;
        transition: all 0.5s ease;
    }

    .main-section .container .image-wrapper{
        max-width: 100%;
        padding: 0;
        text-align: right;
    }

    .main-section .container .image-wrapper .image-inner{
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }
    
    .main-section .container .text-wrapper .title{
        font-family: 'El Messiri', sans-serif;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .main-section .container .text-wrapper .description{
        font-size: 12px;
        line-height: 25px;
    }

    .drop-button{
        background-color: #354259;
        color: #ffffff;
        padding: 8px;
        font-size: 8px;
        cursor: pointer;
        transition: all 0.5s ease;
        text-decoration: none;
        border: 2px solid #354259;
        text-align: center;
    }

    .main-section .container .text-wrapper{
        width: 100%;
        padding: 35px;
        font-weight: 700;
    }

    .main-section .container .home-adjust{
        width: 25%;
    }

    .main-section .container .text-wrapper .cta{
        display: inline-block;
        padding: 5px 15px;
        background-color: #354259;
        color: white;
        text-decoration: none;
        border: 2px solid #354259;
        border-radius: 5px;
        transition: all 0.5s ease;
        text-align: center;
    }
    
    .main-section .skill-item{
        max-width: 35%;
        padding: 0 15px;
    }
    
    .main-section .skill-item .skill-inner{
        position: relative;
        overflow: hidden;
    }
    
    .main-section .skill-item .skill-inner .skill-img{
        max-width: 100%;
        display: block;
        filter: grayscale(100%);
        transition: all 0.5s ease;
        width: 150px;
        height: 150px;
    }

    .main-section .skill-item .skill-inner .overlay h4{
        color: #ffffff;
        font-size: 12px;
        margin: 0;
        text-align: center;
        text-transform: capitalize;
        transition: all 0.5s ease;
    }
    .navbar .container .nav-link .nav-item{
        position: relative;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }    
}